Package: com.jumhyn.musicalswitcher
Name: MusicalSwitcher
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Play your switcher like a piano!
Maintainer: Freddy Kellison-Linn
Author: Freddy Kellison-Linn
Section: Tweaks